/* -------------------------------------------------------------------------------- */
/*	8. Comments
/* -------------------------------------------------------------------------------- */


.comments {
	width:70%;
	min-width: 1170px;
	/*border-top: 1px solid #EEE;*/
	margin: 0 auto;
	padding: 5.5%;
}

.comments-title,
#reply-title,
.pingbacks-title {
	font-size: 1.75em;
	font-weight: 400;
	color: #333;
}

.comments-title { margin-bottom: 30px; }

li.comment-body,
li > div.comment-body {
	margin-bottom: 40px;
	position: relative;
}

.comment-body .comment-children {
	padding-left: 5%;
	padding-top: 20px;
	/*border-left: 2px solid #EEE;*/
}

.comment-body .comment-children li:last-child { margin-bottom: 0; }

.comment-list > li.comment-body:last-child,
.comment-list > li.comment-body div.comment-body:last-child {
	margin-bottom: 0;
}
.comment-list li.comment-by-author{
	background-color: transparent;
}
.comment-list li.comment-level-odd{
	background: #F6F6F3;
}
.comment-list li.comment-level-even{
	background: #FFF;
}

/* Pingback list --------------------------------------- */


.comments .pingbacks { margin-top: 5.5%; }

.pingbacks-inner { margin: 0 auto; }

.pingbacks-title { margin-bottom: 20px; }

.pingbacklist li {
	padding: 0.5em;
	line-height: 130%;
}

.pingbacklist a:hover { text-decoration: underline; }

.pingbacklist li:nth-child(odd) { background: #f9f9f9; }

.pingbacklist .comment-edit-link { color: #999; }
.pingbacklist .comment-edit-link:hover { color: #444; text-decoration: none; }


/* Comment meta --------------------------------------- */


.comment-meta { margin-bottom: 1em; }

.comment-meta .avatar {
	display: block;
	height: 50px;
	width: 50px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	float: left;
}
.comment-meta a,
.comment-author a{
	font-size: 14px;
	font-style: normal;
	color: #09F;
}
/*.comment-reply {
	position: absolute;
	top: 10px;
	left: 0;
}*/

.comment-reply a,
a#cancel-comment-reply-link {
	display: inline-block;
	background: #DDD;
	padding: 9px 10px 8px 10px;
	text-transform: uppercase;
	color: #FFF;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	letter-spacing: 1px;
	font-weight: 500;
	font-size: 12px;
	margin-right: 5px;
}
.cancel-comment-reply  a#cancel-comment-reply-link{
	float: right;
}
.comment-reply a:last-child,
a#cancel-comment-reply-link:last-child {
	margin-right: 0;
}

a#cancel-comment-reply-link:hover,
.comment-reply a:hover {
	background: #09f;
	color: #FFF;
	text-decoration: none !important;
}

/*.comment-content .comment-reply { display: none; }*/


/* Comment meta content --------------------------------------- */


.comment-meta-content {
	margin-left: 65px;
	padding-top: 7px;
}

.comment-meta-content cite {
	font-size: 1.075em;
	color: #2B323A;
	margin-bottom: 5px;
	display: block;
	font-family: 'Raleway', 'Helvetica Neue', sans-serif;
	font-weight: 600;
}

.bypostauthor .comment-meta-content cite .post-author { font-weight: 400; color: #666; margin-left: 3px; letter-spacing: 0; }

.comment-meta-content cite a { color: #2B323A; }
.comment-meta-content cite a:hover { color: #09f; }

.comment-meta-content p {
	font-size: 0.8em;
	text-transform: uppercase;
}

.comment-meta-content p a { color: #BBB; }
.comment-meta-content p a:hover { color: #09f; }

.comment-awaiting-moderation {
	margin-left: 100px;
	margin-bottom: 1em;
	font-weight: bold;
	display: inline-block;
	padding: 10px;
	background: #CCC;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	font-size: 0.8em;
	color: #FFF;
}

.comment-awaiting-moderation:hover { background: #2B323A; }


/* Comment nav below --------------------------------------- */


.comment-nav-below {
	padding: 5.5% 0 0 0;
	border-top: 1px solid #EEE;
	margin-top: 5.5%;
	background: none;
}

.comment-nav-below h3 {
	padding-bottom: 3.25%;
	text-align: center;
	font-size: 1.25em;
}


/* Comment content --------------------------------------- */


.comment-content h1,
.comment-content h2,
.comment-content h3,
.comment-content h4,
.comment-content h5,
.comment-content h6 {
	font-size: 1.25em;
	font-weight: 500;
	margin-top: 50px;
	margin-bottom: 10px;
	text-transform: none;
}


/* Respond --------------------------------------- */


#respond, .respond { 
	padding: 5.5%;
	margin-top: 2em;
	border-top: 1px solid #EEE;
	border-radius: 0 0 4px 4px;
} 

.comment-list #respond, .comment-list .respond{ 
	padding: 0; 
	padding-top: 5.5%;
}


#reply-title { margin-bottom: 20px; }

#respond a:hover, .respond a:hover { text-decoration: underline; }

#respond .content-section-right, .respond .content-section-right {
	border-radius: 0 0 4px 4px;
	border-top: 1px solid #EEE;
	z-index: 12;
}

.nocomments {
	padding: 6.5% 5.5%;
	color: #666;
	text-align: center;
}

#cancel-comment-reply-link {
	margin-left: 10px;
	vertical-align: bottom;
}

a#cancel-comment-reply-link:hover { text-decoration: none !important; }

#respond p,
#respond code, .respond code {
	line-height: 150%;
	margin-bottom: 15px;
}

#respond code, .respond code { border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; }

.comment-form p { margin-bottom: 1em; }
.comment-form p:last-child { margin-bottom: 0; }

p.comment-notes,
p.logged-in-as {
	margin-bottom: 2em;
	color: #666;
}

.comment-form input { max-width: 70%; }

.comment-form label { display: none; }

.comment-form-author .required,
.comment-form-email .required,
.comment-form-url .required,
.comment-form-comment .required {
	display: none;
}

.comment-form input,
.comment-form textarea {
	-webkit-appearance: none;
	border: none;
	background: #FAFAFA no-repeat 96% center;
	background-size: 20px auto;
	font-size: 1em;
	color: #444;
	font-family: 'Lato', 'Helvetica Neue', sans-serif;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 18px;
	margin: 0;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 1px solid #EEE;
}

.comment-form .comment-form-author input { background-image: url(images/1x/user_g.png); }
.comment-form .comment-form-email input { background-image: url(images/1x/email_g.png); }
.comment-form .comment-form-url input { background-image: url(images/1x/house_g.png); background-size: 22px auto; }

.comment-form textarea { line-height: 160%; height: 250px; }

.comment-form input[type="text"]:focus,
.comment-form input[type="email"]:focus,
.comment-form input.password:focus,
.comment-form textarea:focus {
	outline: none;
	background-color: #2D3642;
	border-color: #2B323A;
	color: #FFF;
}

.comment-form .comment-form-author input:focus { background-image: url(images/1x/user.png); }
.comment-form .comment-form-email input:focus { background-image: url(images/1x/email.png); }
.comment-form .comment-form-url input:focus { background-image: url(images/1x/house.png); }

.comment-form input[type="submit"] {
	width: auto;
	max-width: none;
	padding: 15px 20px 16px 20px;
	margin-bottom: 0;
	border: none;
	background: #2D3642;
	color: #FFF;
	font-size: 0.925em;
	font-family: 微软雅黑;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.comment-form input[type="submit"]:hover {
	cursor: pointer;
	background-color: #09F;
	color: #FFF;
}

.comment-form input[type="submit"]:active {
	top: 1px;
	position: relative;
}

p.form-allowed-tags {
	margin-top: 1.5em;
	line-height: 160%
}

.form-submit { margin-top: 1.5em; }